@font-face {
    font-family: Maiven;
    src: url("fonts/MavenProLight-300.otf");
}

html, body {
    font-family: Maiven;
}


.diyw div#emotion-header {
    max-width: 908px;
    max-height: 306px;
    background: #EEEEEE;
}
.diyw div#emotion-header-title-bg {
    left: 0%;
    top: 20%;
    width: 100%;
    height: 14%;
    background-color: #FFFFFF;
    opacity: 0.50;
    filter: alpha(opacity = 50);
    display: none;
}
.diyw img#emotion-header-logo {
    right: 2%;
    bottom: 5%;
    background: transparent;
    width: 8%;
}
.diyw div#emotion-header strong#emotion-header-title {
    left: 20%;
    top: 20%;
    color: #000000;
/*    font: normal normal 24px/120% Helvetica, sans-serif;*/
}
.diyw div#emotion-no-bg-container{
    max-height: 306px;
}
.diyw div#emotion-no-bg-container .emotion-no-bg-height {
    margin-top: 33.70%;
}

.footIconHolder {
/*    height: 30px;*/
    padding-left:25px;
    padding-right:25px;
    display: inline;
}
.footIcons {
    height: 30px;
}